$primary: gray;
$info: gray;
$danger: gray;
@import '~bootstrap/scss/bootstrap';

.homepage-intro, .homepage-intro-sub, .see-workouts, .showworkoutsbutton, .addExercise, .homepage-main, .noExercises, .noWorkoutsFound, .show-about, .workout-label, .fancy-sign-in {
  display: flex;
  justify-content: center;
}

.mycentered {
  display: flex;
  justify-content: center;
}
body {
  background: #edf5f3;
}

.about-back {
  display: flex;
  justify-content: center;
  float: right;
  height: 60px;
  width: 100px;
  align-items: center;
  font-size: 2em;
  margin: 8px;
}
.about-headers {
  align-items: top;
  margin: 0;
}
.about-all {
  padding: 0;
}
.about-header1, .about-header2 {
  display: flex;
  justify-content: center;
  margin: 0;
}
.about-header1 {
  margin-top: -20px;
}
.about-header2 {
  margin-top: -15px;
}
.about-body {
padding-top: 50px;
padding-bottom: 60px;
}
.workouts-list {
  background-color: #8f9492;
}

.workout-label {
  font-size: 2.6em;
  padding-bottom: 20px;
  padding-top: 50px;
}

.individualWorkout {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  font-weight: 600;
}

.individualWorkout:hover {
  text-decoration: none;
  color: black;
}
.noExercises {
  padding-top: 15px;
}
.homepage-main {
  font-size: 50px;
}
.noWorkoutsFound {
  padding-top: 70px;
  padding-bottom: 50px;
}
.workoutHeader, .workout-form-buttons {
  display: flex;
  justify-content: space-between;
}
.workout-submit, .workout-back, .auth-button {
  color: black;
  background: gray;
  border: none;
}
.workout-submit:hover, .workout-back:hover, .auth-button:hover {
  background: #494d4b;
}
.fancy-sign-in {
  display: flex;
  align-items: center;
}
.log-in-home {
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 57px;
  height: 20px;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  color: black;
  align-items: center;
}
.log-in-home:hover {
  background: gray;
}
.see-workouts {
  padding: 0;
  align-items: center;
}
.make-workout, .addExercise {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  height: 60px;
  vertical-align: middle;
  background: black;
  // outline: 1px solid gray;
  border: none;
}
.addExercise {
  margin-top: 15px;
}
.edit-workout, .delete-workout {
  border: none;
  background: gray;
  color: white;
  margin-right: 15px;
}
.updateExerciseButton, .exerciseDeleteButton {
  border: none;
  background: gray;
  color: white;
}
.exerciseDeleteButton {
  border-radius: 25%;
}
.updateExerciseButton {
  border-radius: 25%;
}
.exerciseName, .exweightlabel {
  padding-left: 7px;
}
.setsreps, .exweight {
  padding-right: 7px;
}
.individual-exercise2 {
  border: 4px solid #c4cfc9;
  border-radius: 10%;
  margin-top: 10px;
  background-color: #c4cfc9;
  margin-bottom: -25px;
}
.edit-workout:hover, .updateExerciseButton:hover {
  background: #494d4b;
  // color: black;
}
.make-workout2:hover, .addExercise:hover {
  background: gray;
  color: black;
}
.make-workout2 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 40px;
  vertical-align: middle;
  background: black;
  // outline: 1px solid gray;
  border: none;
}

.backToWorkouts {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 85px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: #222423;
  color: white;
  border: none;
}
.backToWorkouts:hover {
  background: #494d4b;
}
.backToWorkouts:focus {
  background: black;
}
.homepage-intro-sub {
  font-size: 15px;
}

.setsreps, .exweight {
  float: right;
}

.exweightlabel {
  font-size: 23px;
}

.lazyfix {
  display: flex;
  font-size: 10px;
  justify-content: left;
}

.weightLine {
  margin-bottom: 5px;
}

.updateExerciseButton, .exerciseDeleteButton {
  display: flex;
  float: left;
  justify-content: center;
}

.updateExerciseButton {
  width: 30%;
}
.exerciseDeleteButton {
  width: 15%
}
.exercisefields {
  font-size: 25px;
}

.exerciseName {
  font-weight: 700;
  font-size: 34px;
}
.flexButtons {
  display: flex;
  justify-content: space-between;
}

.showworkoutsbutton, .show-about {
  width: 60%;
  margin: auto;
  border: none;
  background-color: #c8cfcd;
  color: black;
  padding: 8px;
  margin-top: 8px;
}

.showworkoutsbutton:hover, .show-about:hover {
  background-color: #9ba3a1;
}
