@import '~bootstrap/scss/bootstrap';

.homepage-intro, .homepage-intro-sub, .see-workouts, .showworkoutsbutton, .addExercise, .homepage-main, .noExercises {
  display: flex;
  justify-content: center;
}

.homepage-main {
  font-size: 50px;
}

.workoutHeader {
  display: flex;
  justify-content: space-between;
}

.backToWorkouts {
  display: table-cell;
  vertical-align: middle;
}


.homepage-intro-sub {
  font-size: 15px;
}

.setsreps, .exweight {
  float: right;
}

.exweightlabel {
  font-size: 23px;
}

.lazyfix {
  display: flex;
  font-size: 10px;
  justify-content: left;
}

.weightLine {
  margin-bottom: 5px;
}
.updateExerciseButton, .exerciseDeleteButton {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
}

.exercisefields {
  font-size: 25px;
}

.exerciseName {
  font-weight: 700;
  font-size: 34px;
}
.flexButtons {
  display: flex;
  justify-content: center;
}
