@import '~bootstrap/scss/bootstrap';

.homepage-intro, .homepage-intro-sub, .see-workouts, .showworkoutsbutton, .addExercise {
  display: flex;
  justify-content: center;
}

.updateExerciseButton, .exerciseDeleteButton {
  float: right;
}
